article{
    height:400px;
    width:400px;
    background-color: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 50px 0px;
    transition: 0.4s;
}
article:hover{
    transform:scale(1.1);
}
@media screen and (max-width:1000px){
    article:hover{
        transform:none;
    }
}

article header{
    height:40%;
    background-color: black;
    color: #F9F9F9;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
article header h2{
    font-size: 300%;
    font-weight: 400;
}
article section{
    height:60%;
    padding: 10px;
   display: flex;
   align-items: center;
}